torch
torchvision
torchaudio
transformers==4.40.2
diffusers==0.29.0
accelerate
protobuf
sentencepiece
fastapi
uvicorn
Pillow
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
bcrypt
duckduckgo-search
langchain
langchain-community
langchain-text-splitters
sentence-transformers
faiss-cpu
pypdf
python-multipart
